name: Package for stage
on:
  workflow_dispatch:
    inputs:
      notes:
        description: "Notes"
        required: false
        default: ""
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 */24 * * *"
jobs:
  everything:
    runs-on: ubuntu-latest
    steps:
      - name: Cache differy
        uses: actions/cache@v2
        with:
          path: |
            ~/.bin
          key: ${{ runner.os }}-differy

      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Configure AWS credentials for stage
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.UPDATES_STAGE_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.UPDATES_STAGE_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Do it!
        env: 
          UPDATE_URL: https://updates.developer.allizom.org
          BUCKET: updates-stage-developer-allizom-6d533edfe2c2c683
        run: |
          ${{ github.workspace }}/scripts/run.sh
