name: Package for stage

on:
  workflow_dispatch:
    inputs:
      notes:
        description: "Notes"
        type: string
      yari_branch:
        description: "Yari branch to build against (default: main)"
        type: string
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 */24 * * *"
  workflow_call:
    secrets:
      GCP_PROJECT_NAME:
        required: true
      PING_URL_ISSUES:
        required: false
      WIP_PROJECT_ID:
        required: true

env:
  YARI_BRANCH: ${{ inputs.yari_branch || 'main' }}

jobs:
  everything:
    environment: stage
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".nvmrc"
          package-manager-cache: false

      - name: Authenticate with GCP
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          token_format: access_token
          service_account: deploy-stage-updates@${{ secrets.GCP_PROJECT_NAME }}.iam.gserviceaccount.com
          workload_identity_provider: projects/${{ secrets.WIP_PROJECT_ID }}/locations/global/workloadIdentityPools/github-actions/providers/github-actions

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1

      - name: Do it!
        env:
          UPDATE_URL: https://updates.developer.allizom.org
          BUCKET: updates-stage-developer-allizom-6d533edfe2c2c683
          GCS_BUCKET: updates-stage-mdn
        run: |
          ${{ github.workspace }}/scripts/run.sh

      - name: Ping
        env:
          ping_url: ${{ secrets.PING_URL }}
        if: ${{ env.ping_url != '' }}
        run: curl ${{ env.ping_url }}
